*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: url("/static/pic/blog_img.jpg");
    font-family: monospace;
    height:550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
nav{
    height: 80px;
    width: 100%;
}
label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
#hunt{
    color:white;
    font-size:50px;
    font-family:cursive;
    font-weight:bolder;
    line-height:150px;
    position:absolute;
    top:150px;
    left:650px;

}
#write{
    color:white;
    font-size:30px;
    font-family:cursive;
    position:absolute;
    top:300px;
    left:600px;

}
@media only screen and (max-device-width: 480px){
  #hunt{
    color:white;
    font-size:60px;
    font-family:cursive;
    font-weight:bolder;
    line-height:150px;
    position:absolute;
    top:150px;
    left:350px;

}
#write{
    color:white;
    font-size:35px;
    font-family:cursive;
    position:absolute;
    top:300px;
    left:300px;

}
}
#hunt:hover{
    color:lawngreen;
    transition: 0.5s;
}
#write:hover{
    color:lawngreen;
    transition: 0.5s;
}
.pro{
  font-size:30px;
  font-family:cursive;
  margin-top:500px;
  text-align:center;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
#cl{
    color: #f0f8ff;
    font-size: 17px;
    padding:7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family:cursive;
}
a.active,a:hover {
    text-decoration:underline;
    transition: 0.5s;
}
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: #f0f0f0;
}

body {
    color:#999999;
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 10px 10px;

}

.cards__item {
    display: flex;
    padding: 1rem;
    @media(min-width: 40rem) {
        width: 50%;
    }
    @media(min-width: 56rem) {
        width: 33.3333%;
    }
}

.card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &:hover {
        .card__image {
        filter: contrast(100%);
        }
    }
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(70%);
    //filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
    &::before {
        content: "";
	    display: block;
        padding-top: 56.25%; // 16:9 aspect ratio
    }
    @media(min-width: 40rem) {
        &::before {
        padding-top: 66.6%; // 3:2 aspect ratio
        }
    }
}

.card__title {
    color: #696969;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    color:#696969;
}


img:hover, a:hover {
    filter: saturate(200%);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.card-meta {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}
/*#cmnt{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
#cmnt-box{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize:none;
  height:300px;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
.cancelbtn {
   width: 100%;
}

#cmnt-box{
  width:100%;
}*/