<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<nav>
    <!--<input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>-->
    <ul>
        <li><a class="active" id="cl" href="home.html">Home</a></li>
        <li><a id="cl" href="profile.html">Profile</a></li>
        <li><a id="cl" href="blog.html">Blog</a></li>
        <li><a id="cl" href="logout.html">Logout</a></li>
    </ul>
    <div class="align" style="text-align:center">
        <label id="hunt">BLOGHUNT</label>
        <label id="write">Think.Blog.Explore.Enjoy...!!</label>
    </div>
</nav>
<ul class="cards">
    {% for column in var %}
        <li class="cards__item">
            <div class="card">
              <div class="card__image">
                  <img src="{{ column[1] }}" alt="blog img" id="image" style="width:100%"/>
              </div>
              <div class="card__content">
                <div class="card__title">{{ column[0] }}</div>
                <p class="card__text">{{ column[3] }}</p>
                <p class="card-meta">Published by {{ column[4] }} on {{ column[2] }}</p>

                <!--<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">comments</button>

                <div id="id01" class="modal">
                    <form class="modal-content animate" action="" method="POST">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                        </div>
                        <div class="container">
                            <textarea id="cmnt-box" name="content"></textarea><br>

                            <input type="text" id=cmnt placeholder="Comment" name="cmnt">
                            <button type="submit" id="sub">submit</button>
                            <input type="text" id="datetime" name="date"  required><br>
                        </div>
                    </form>
                </div>-->
                <script>
                    var modal = document.getElementById('id01');
                    window.onclick = function(event) {
                        if (event.target === modal) {
                            modal.style.display = "none";
                        }
                    }
                </script>
              </div>
            </div>
        </li>
    {% endfor %}
</ul>
<!--<form action="dis_blog.html" method="POST">
    <button type="submit" id="btt">Read More</button>
</form>-->
</body>
</html>